.App {
  background-color: #28053e;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 9px 0 20px 24px;

}


@media screen and (max-width: 480px) {
  .App{

  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .App {
      display: flex;
      flex-direction: row;

  }
}

@media screen and (min-width: 769px) {
  .App {
    background-color: #28053e;
  }
}

