.playingSong-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 100px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    animation: fadeInUp 0.5s ease-in-out;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
    max-width: 85%;
    color: #bd8bdc;
    
}


.play-btn,
.back-btn,
.frwrd-btn {
  color:#bd8bdc;
  font-size: 3em;
}

.restart-btn{
  color:rgb(119, 89, 119);
  font-size: 1em;
}

.restart-btn-active{
  color:#bd8bdc;
  
}

.songName {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    gap:10px;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes colorAnimation {
    from{
        color:#dcc2ec;
        background-color: rgba(0, 0, 0, 0.218);
    }
    to{
        color:#d994ecb5;
        background-color:#2114389c ;
        font-size: larger;
    }
}

.playingSong-container:hover {
    animation: colorAnimation 2s
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .playingSong-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 50%;
  }
    @keyframes colorAnimation {
      from{
          color:#dcc2ec;
          background-color: rgba(0, 0, 0, 0.218);
      }
      to{
          color:#d994ecb5;

      }
  }

}

